.dialogWrap {
    background-color: springgreen;
    display: grid;
    padding: 10px;
    grid-template-columns: 2fr 10fr;
}
.dialogs {
    background-color: aliceblue;
}
.Messages {
    width: 70%;
    padding-left: 10px;
}
.messegesItem {

}